* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.logBar {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
}

nav {
  display: none;
}

#topMenu {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem;
}

.logoHeader {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
}

#logo {
  height: 3.5rem;
  width: 85%;
}

#menu {
  width: 95%;
  position: absolute;
  list-style: none;
  top: 5rem;
  display: none;
  background-image: linear-gradient(to bottom right, #414246, black);
  background-color: #414246;
  color: white;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

#closeMenuBtn {
  font-size: 2rem;
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
}

#menuButton {
  height: 31px;
  width: 27px;
  padding: 0.2rem;
}

.menuItems {
  text-align: center;
  padding: 1rem;
}

.menuItems a {
  color: #fff;
  text-decoration: none;
}

#home {
  background-image: url(../assets/mainMobileBack.svg);
  background-size: 100%;
  transform: translateY(4rem);
}

#home h2 {
  font-size: 1.5rem;
  padding-top: 6.3rem;
  margin: auto;
  width: 93%;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('../assets/h1Back.jpg');
}

h1 {
  font-size: 2.2rem;
  margin: auto;
  padding-bottom: 0.3rem;
  width: 93%;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('../assets/h1Back.jpg');
}

.brief {
  position: relative;
  margin: auto;
  width: 95%;
  border: solid 0.2rem white;
  padding: 1rem;
  z-index: 2;
  background-color: #f8f8f8;
}

.date {
  font-size: 1.5rem;
  color: #3b3e45;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 95%;
  padding: 1rem 1rem 0.1rem 1rem;
  z-index: 2;
  background-color: #f8f8f8;
}

.place {
  font-size: 1.3rem;
  color: #716a6a;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 95%;
  padding: 0.1rem 1rem 2rem 1rem;
  z-index: 2;
  background-color: #f8f8f8;
}

#mainProgram {
  background-image: url(../assets/programBack.svg);
  background-size: 100%;
  transform: translateY(4rem);
}

#mainProgram h3 {
  padding: 1.8rem 2rem 0.7rem 2rem;
  text-align: center;
  color: white;
}

#mainProgram hr {
  margin: auto;
  width: 10%;
}

.programCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  background-color: rgba(59, 62, 69, 0.5);
  z-index: 2;
}

.programImage {
  grid-column: 1;
}

.programActivity {
  grid-column: 2;
  color: #ff5438;
  font-size: 1rem;
  font-weight: bold;
}

.programBrief {
  grid-column: 3/6;
  color: white;
  padding-left: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.4rem;
}

.joinBtnHolder {
  padding-bottom: 1rem;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4.25rem;
  margin: 2.5rem 2.345rem 2.5rem 2.345rem;
  background-color: #ff4f38;
  color: white;
}

#speakers {
  transform: translateY(3.5rem);
}

#speakers h3 {
  padding: 1.8rem 2rem 0.7rem 2rem;
  text-align: center;
}

.speakersLine {
  width: 5%;
  margin: auto;
}

.speakerCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5%;
}

.speakerImage {
  grid-column: 1;
  width: 100%;
  height: auto;
}

.speakerInfo {
  grid-column: 2/5;
  padding: 0.5rem;
}

.speakerInfo h5 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.speakerPosition {
  color: #f78c89;
  font-size: 0.7rem;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.speakerBrief {
  font-size: 0.57rem;
  font-weight: bold;
  padding-top: 0.3rem;
}

.moreContainer {
  width: 100%;
  text-align: center;
}

.moreSpeakerBtn {
  font-size: 0.69rem;
  font-weight: bold;
  width: 90%;
  border: solid 0.1rem #dcdcdc;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: white;
}

.speakerNameSeparator {
  width: 10%;
}

.moreBtnArrow {
  padding-bottom: 0.1rem;
  padding-left: 0.7rem;
}

.lessBtnArrow {
  padding-bottom: 0.1rem;
  padding-right: 0.7rem;
  transform: rotate(-0.5turn);
}

#moreSpeakersContainer {
  display: none;
  flex-wrap: wrap;
}

#partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(5rem);
  background-color: #414246;
}

.sectionTitle {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2rem 1rem 1rem 1rem;
}

.partnerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.partnerLogo {
  width: 5rem;
  height: auto;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

footer {
  display: flex;
  transform: translateY(5rem);
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
}

footer div img {
  width: 2rem;
  height: auto;
}

footer div p {
  font-size: 1rem;
}

.rightsCourse {
  font-size: 0.75rem;
  padding-left: 1rem;
}

/* Minimum desktop screen size should be 768px. this will be changed in the next summits when i make the deskopt. */
@media screen and (min-width: 768px) {
  #menuButton {
    display: none;
  }

  #blurSection {
    background-color: #f8f8f8;
  }

  .logBar {
    display: flex;
    background-color: #3e3e3e;
    color: white;
    font-size: small;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 17.5%;
  }

  .logBarImage {
    height: 0.8rem;
    width: auto;
    cursor: pointer;
  }

  .logBarItem {
    padding-left: 2rem;
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .navItems {
    text-decoration: none;
    padding: 1rem;
    margin-left: 1rem;
    color: #716a6a;
    font-weight: bold;
  }

  .navItems:hover {
    background-color: #ff4f38;
    color: white;
  }

  .navAbout {
    color: #ff4f38;
  }

  .campaign {
    border: solid 0.3rem red;
    padding: 0.5rem;
    margin-left: 3rem;
  }

  .logoHeader {
    width: 40%;
  }

  #home {
    background-image: url(../assets/mainDesktopBack.svg);
  }

  #home h2 {
    font-size: 2.5rem;
    padding-top: 6.3rem;
    margin: auto;
    width: 62%;
    font-weight: 700;
  }

  h1 {
    font-size: 3.9rem;
    margin: auto;
    padding-bottom: 0.3rem;
    width: 62%;
    font-weight: 700;
  }

  .brief {
    width: 62%;
    font-size: 1.2rem;
    border: solid 0.6rem white;
  }

  .date {
    width: 62%;
  }

  .place {
    width: 62%;
  }

  #mainProgram {
    transform: translateY(4.5rem);
  }

  #mainProgram hr {
    margin: auto;
    width: 3%;
  }

  #programContainer {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .programCard {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
  }

  .programCard:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .programImage {
    margin-bottom: 1rem;
  }

  .programActivity {
    padding-bottom: 1rem;
  }

  .programBrief {
    grid-column: 3/6;
    color: white;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    font-size: 0.7rem;
    line-height: 1.4rem;
  }

  .join {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4.25rem;
    margin: auto;
    background-color: rgba(59, 62, 69, 0.5);
    color: white;
    cursor: pointer;
  }

  .join:hover {
    transform: scale(1.5);
  }

  #speakers {
    transform: translateY(4.5rem);
  }

  .speakersLine {
    width: 5%;
    margin: auto;
  }

  #moreSpeakersContainer {
    display: flex !important;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  #speakersContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
  }

  .speakerCard {
    width: 50%;
    margin: auto;
    padding: 1%;
  }

  .speakerCard:hover {
    transform: scale(1.2);
  }

  .speakerInfo h5 {
    font-size: 1.2rem;
  }

  .speakerPosition {
    font-size: 0.9rem;
  }

  .speakerBrief {
    font-size: 0.75rem;
  }

  .moreSpeakerBtn {
    display: none;
  }

  #partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #414246;
    transform: translateY(7rem);
  }

  footer {
    display: flex;
    transform: translateY(7rem);
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .partnerLogo {
    width: 7rem;
    height: auto;
    margin: 0.1rem 2rem 0.5rem 2rem;
  }
}
